<!DOCTYPE html>
<html lang="en" style="height: 100%">
{% load static %}
<head>
  <meta charset="utf-8">
    <title>系统内存信息</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
    }
    #container {
      height: 80%;
    }
    #cpu-info {
      margin-top: 20px;
    }
  </style>
</head>

<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  <script type="text/javascript" src="{% static 'js/echarts.js' %}"></script>
  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });

    var clocktime = {{ clocktime|safe }};
    var Totalmemory_size = {{ Totalmemory_size|safe }};
    var Usedmemory_size = {{ Usedmemory_size|safe }};
    var Freememory_size = {{  Freememory_size |safe}};

    var Swapmemory_size = {{ Swapmemory_size |safe }};
    var UsedSwapmemory_size = {{ UsedSwapmemory_size |safe }};
    var FreeSwapmemory_size = {{ FreeSwapmemory_size |safe }};
    var Swapmemory_usage = {{ Swapmemory_usage |safe }};

    var option;
    option = {
        title: {
            text: '系统内存使用情况', // 标题文本
            left: 'center', // 标题水平位置
            top: 'bottom' // 标题垂直位置
        },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: {{ timestamps|safe }}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:
      {{ Memory_usage |safe }},
      type: 'line',
      areaStyle: {},
      markPoint: {
            data: [
              { type: 'max', name: 'Max CPU Usage' }
            ],
            label: {
              show: true,
              formatter: function(params) {
                return '瓶颈: ' + params.value;
              }
            }
          }

    }
  ],
  tooltip: { /* 提示框配置 */
        trigger: 'axis', /* 触发类型 */
        formatter: function (params) { /* 格式化函数 */
          var point = params[0]; /* 第一个数据点 */
          var index = params[0].dataIndex;
          /* 显示时间戳和CPU使用率 */
          return '时间戳: ' + point.axisValueLabel + '<br>' +
                 '时间: ' + clocktime[index] + '<br>' +
                 '内存利用率: ' + point.value + '%<br>' +
                 '总内存: ' + Totalmemory_size[index] + ' Byte<br>' +
                 '已用内存: ' + Usedmemory_size[index] + ' Byte<br>' +
                 '空闲内存: ' + Freememory_size[index] + ' Byte<br>' +
                 '交换内存大小: ' + Swapmemory_size[index] + ' Byte<br>' +
                 '交换内存已用大小: ' + UsedSwapmemory_size[index] + ' Byte<br>' +
                 '交换内存空闲大小: ' + FreeSwapmemory_size[index] + ' Byte<br>' +
                 '交换内存使用占比: ' + Swapmemory_usage[index]+ '%'

        }
      }
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }


    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>