<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登陆页面</title>
        <!-- author xjt -->
</head>
<body>
    <h1>Submit Your Text</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <textarea name="generated_text" rows="10" cols="30" placeholder="Enter text here..."></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>