@charset "utf-8";
/* CSS Document      <link rel="stylesheet" href="{% static 'css/comon0.css' %}">*/

*,body{padding:0px;	margin:0px;color: #7ca6f4;font-family: "微软雅黑";}
body{ background:#000d4a url(../images/bg.jpg) center top; background-size:cover;color:#666;font-size: .1rem;}





